.countryPage {
  margin: 5% 5% 5% 5%;
  background-color: rgb(53, 53, 53);
  border-radius: 5px;
  box-shadow: 6px 10px black;
}

.countryName {
  padding-top: 30px;
  text-align: center;
  font-size: 55px;
  color: white;
  text-shadow: 2px 2px #000000;
}

.countryData {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #000000;
}

.countryTextData {
  font-size: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.countryFlag {
  margin-top: 50px;
  max-width: 600px;
  max-height: 620px;
}
.countryActivitiesChart {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 45px;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 21px;
}
.countryActivities {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 13%;
  margin-right: 13%;
  font-size: 29px;
  border: 3px solid rgb(0, 0, 0);
}

.mainButton {
  margin-top: 50px;
  margin-bottom: 50px;
}
