.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: black;
  border: 1px solid;
  margin: 10px 10px;
  height: 300px;
  width: 540px;
}

.countryName {
  font-size: 25px;
}

.countryFlag {
  display: flex;
  align-items: flex-end;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
